# Homework 4

## Mysql-Python Connection

In [ ]:
import mysql.connector
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
import csv

%matplotlib inline

In [ ]:
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="WRITE_YOUR_PASSWORD", 
  auth_plugin='mysql_native_password'
)
print(db_connection)

In [ ]:
# creating database_cursor to perform SQL operation to run queries
db_cursor = db_connection.cursor(buffered=True)

# executing cursor with execute method and pass SQL query
db_cursor.execute("CREATE DATABASE ps_ecommerce")

# get list of all databases
db_cursor.execute("SHOW DATABASES")

# print all databases
for db in db_cursor:
    print(db)
    
db_cursor.execute("USE ps_ecommerce")

## Load Data to Mysql Tables

In [ ]:
def populate_table(db_connection, db_cursor, insert_query, file_path):
    
    with open(file_path, mode='r') as csv_data:
        reader = csv.reader(csv_data, delimiter=';')
        csv_data_list = list(reader)
        for row in csv_data_list[1:]:
            row = tuple(map(lambda x: None if x == "" else x, row[0].split(',')))
            db_cursor.execute(insert_query, row)
        
    db_connection.commit()

In [ ]:
# create CUSTOMERS table
db_cursor.execute("""CREATE TABLE CUSTOMERS (customer_id VARCHAR(50) NOT NULL, 
                                          customer_unique_id VARCHAR(50) NOT NULL, 
                                          customer_zip_code_prefix VARCHAR(50), 
                                          customer_city VARCHAR(50), 
                                          customer_state VARCHAR(50))""")

insert_customers = (
    "INSERT INTO CUSTOMERS(customer_id, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state) "
    "VALUES (%s, %s, %s, %s, %s)"
)

populate_table(db_connection, db_cursor, insert_customers, "customers.csv")

In [ ]:
# create ORDER_PAYMENTS table
db_cursor.execute("""CREATE TABLE ORDER_PAYMENTS (order_id VARCHAR(50) NOT NULL, 
                                          payment_sequential INTEGER, 
                                          payment_type VARCHAR(50), 
                                          payment_installments INTEGER, 
                                          payment_value FLOAT)""")

insert_orderpayments = (
    "INSERT INTO ORDER_PAYMENTS(order_id, payment_sequential, payment_type, payment_installments, payment_value) "
    "VALUES (%s, %s, %s, %s, %s)"
)

populate_table(db_connection, db_cursor, insert_orderpayments, "order_payments.csv")

In [ ]:
# create ORDER_ITEMS table
db_cursor.execute("""CREATE TABLE ORDER_ITEMS (order_id VARCHAR(50) NOT NULL, 
                                          order_item_id INTEGER, 
                                          product_id VARCHAR(50), 
                                          seller_id VARCHAR(50), 
                                          shipping_limit_date DATETIME,
                                          price FLOAT,
                                          freight_value FLOAT)""")

insert_orderitems = (
    "INSERT INTO ORDER_ITEMS(order_id, order_item_id, product_id, seller_id, shipping_limit_date, price, freight_value) "
    "VALUES (%s, %s, %s, %s, %s, %s, %s)"
)

populate_table(db_connection, db_cursor, insert_orderitems, "order_items.csv")

In [ ]:
# create ORDERS table
db_cursor.execute("""CREATE TABLE ORDERS (order_id VARCHAR(50) NOT NULL, 
                                          customer_id VARCHAR(50) NOT NULL, 
                                          order_status VARCHAR(50), 
                                          order_purchase_timestamp DATETIME, 
                                          order_approved_at DATETIME,
                                          order_delivered_carrier_date DATETIME,
                                          order_delivered_customer_date DATETIME,
                                          order_estimated_delivery_date DATETIME)""")

insert_orders = (
    "INSERT INTO ORDERS(order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date) "
    "VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"
)

populate_table(db_connection, db_cursor, insert_orders, "orders.csv")

In [ ]:
# Create PRODUCTS table
db_cursor.execute("""CREATE TABLE PRODUCTS (product_id VARCHAR(50) NOT NULL, 
                                            product_category_name VARCHAR(50), 
                                            product_name_lenght INTEGER, 
                                            product_description_lenght INTEGER, 
                                            product_photos_qty INTEGER,
                                            product_weight_g INTEGER,
                                            product_length_cm INTEGER,
                                            product_height_cm INTEGER,
                                            product_width_cm INTEGER)""")

insert_products = (
    "INSERT INTO PRODUCTS(product_id, product_category_name, product_name_lenght, product_description_lenght, product_photos_qty, product_weight_g, product_length_cm,  product_height_cm, product_width_cm) "
    "VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
)

populate_table(db_connection, db_cursor, insert_products, "products.csv")

## Question 1 (5 pts)

Find the number of orders which have more than 4 weeks between their `order_delivered_carrier_date` and `order_delivered_customer_date` dates.

HINT: There is a function in MySQL that makes it easy to compute the difference between two timestamps. We recommend that you search for it online and use it in your answer.

In [ ]:
# Write your solution here
#
#
#
#

## Question 2 (10 pts)

Consider the ORDER_COSTS table created below.

In [ ]:
order_costs_query = """
                    CREATE TABLE ORDER_COSTS AS (
                        SELECT ORDERS.order_id, SUM(price) AS cost, ORDERS.customer_id as cid
                        FROM ORDER_ITEMS 
                        JOIN ORDERS
                        ON ORDER_ITEMS.order_id=ORDERS.order_id
                        GROUP BY order_id, ORDERS.customer_id)
                    """

db_cursor.execute(order_costs_query)

Using ORDER_COSTS and CUSTOMERS tables, find the top 10 cities in which customers spend the most. Your result should contain pairs of cities and total spendings, i.e., (city1, spending1), (city2, spending2), ... Your result should be ordered from higher spending to lower spending.

In [ ]:
# Write your solution here
#
#
#
#

Draw a pie chart containing the top 10 cities you found and their spending.

For example, in the pie chart, the slice of Sao Paulo is 42%, slice of Rio de Janeiro is 21%, slice of Belo Horizonte is 8%, ... Make sure the names of the cities and their percentages are written on the pie chart.

In [ ]:
# Write your solution here
#
#
#
#

## Question 3 (10 pts)

Implement the following function: `get_payment`. It takes as input two parameters: startyear and endyear. It needs to find: Between the years startyear and endyear (startyear < year < endyear), how many times was each payment method used? Use `order_delivered_customer_date` of the ORDERS table to find the year of the order. 

Example result: `(credit_card, 215 times), (voucher, 20 times), (debit card, 2 times),` ...

HINT: There exists a MySQL function which makes it easy to extract years from dates.

In [ ]:
# def get_payment(startyear, endyear):
#
#
#
#

Here is a sample function call:

In [ ]:
print(get_payment("2015", "2017"))

## Question 4 (10 pts)

Write an SQL query to find the total number of orders per week day, e.g., Monday -> 150 orders, Tuesday -> 200 orders, Wednesday -> 500 orders, etc. Use the `order_purchase_timestamp` attribute for finding the day of the order.

HINT: Check out the "DAYNAME" and/or "WEEKDAY" functions of MySQL.

In [ ]:
# Write your solution here
#
#
#
#

Plot the result using a LINE chart (days of week on x-axis, number of orders on y-axis).

In [ ]:
# Write your solution here
#
#
#
#

## Question 5 (10 pts)

Consider the PRODUCTS and ORDER_ITEMS tables. For each product category other than {"moveis_decoracao", "beleza_saude"}, find the minimum price that was paid for an item from that category. Limit the result to retrieve only 6 rows.

The result should be like: category1 -> minprice1, category2 -> minprice2, ...

In [ ]:
# Write your solution here
#
#
#
#

Plot the result using a BAR CHART. Product categories should be on the x-axis, min prices should be on the y-axis.

In [ ]:
# Write your solution here
#
#
#
#

## SQLAlchemy

In [ ]:
import sqlalchemy as db
import pymysql
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy import inspect
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy import and_
from datetime import datetime
from sqlalchemy import or_
from sqlalchemy.orm import Query
from sqlalchemy.sql.expression import func
from sqlalchemy.sql.expression import alias

In [ ]:
engine = db.create_engine("mysql+pymysql://root:WRITE_YOUR_PASSWORD@localhost/ps_ecommerce")
connection = engine.connect()

In [ ]:
Base = declarative_base()
Base.metadata.reflect(engine)

In [ ]:
class Customers(Base):
    __table__ = Base.metadata.tables["CUSTOMERS"]
    __mapper_args__ = {
        'primary_key':[Base.metadata.tables["CUSTOMERS"].c.customer_id]
    }
    
class Orders(Base):
    __table__ = Base.metadata.tables["ORDERS"]
    __mapper_args__ = {
        'primary_key':[Base.metadata.tables["ORDERS"].c.order_id]
    }
    
class OrderItems(Base):
    __table__ = Base.metadata.tables["ORDER_ITEMS"]
    __mapper_args__ = {
        'primary_key':[Base.metadata.tables["ORDER_ITEMS"].c.order_id, Base.metadata.tables["ORDER_ITEMS"].c.order_item_id]
    }
    
class OrderPayments(Base):
    __table__ = Base.metadata.tables["ORDER_PAYMENTS"]
    __mapper_args__ = {
        'primary_key':[Base.metadata.tables["ORDER_PAYMENTS"].c.order_id, Base.metadata.tables["ORDER_PAYMENTS"].c.payment_sequential]
    }
    
class Products(Base):
    __table__ = Base.metadata.tables["PRODUCTS"]
    __mapper_args__ = {
        'primary_key':[Base.metadata.tables["PRODUCTS"].c.product_id]
    }

In [ ]:
Session = sessionmaker(bind=engine)
session = Session()

## Question 6 (5 pts)

Solve this question using SQL Alchemy ONLY.

Find the `price` and `product_name_lenght` of products which have `product_name_lenght` > 64.

In [ ]:
# Write your solution here
#
#
#
#

## Question 7 (5 pts)

Solve this question using SQL Alchemy ONLY.

For each month, find the total freight value in that month. Use the `shipping_limit_date` attribute to determine the months. Order months in increasing order. 

Example:

month 1 || total freight value in month 1

month 2 || total freight value in month 2

...

month 12 || total freight value in month 12

In [ ]:
# Write your solution here
#
#
#
#

## Question 8 (5+10+5 = 20 pts)

Let us define "large products" as those products with weight > 400 and length > 10. Some orders that contain a large product can have large discrepancies between their `order_delivered_carrier_date` and `order_delivered_customer_date`. 

Let us define "strange orders that contain large products" as those orders which contain a large product and the 
difference between their `order_delivered_carrier_date` and `order_delivered_customer_date` is larger than 100 days.

For all "strange orders that contain large products", find their order IDs and the number of days difference between 
their `order_delivered_carrier_date` and `order_delivered_customer_date`. Result should be like: "abc21312df" -> 132, "dhs230kdf8" -> 119, ...

(5 pts) First solve this question using mysql connector, like in Questions 1-5. Do not use SQL Alchemy.

In [ ]:
# Write your solution here
#
#
#
#

(10 pts) Next, solve the same question using SQL Alchemy. You can use multiple steps (multiple `session.query` statements) if you wish.

In [ ]:
# Write your solution here
#
#
#
#

(5 pts) Finally, draw a bar chart with the order IDs and differences in days. Order IDs should be on the x-axis. Differences in days should be on the y-axis.

In [ ]:
# Write your solution here
#
#
#
#

## Question 9 (5+10 = 15 pts)

For each product with `product_name_lenght` > 60 and `product_description_lenght` > 3000, find the customer zip code prefix and customer unique id of the customers who bought that product.

(5 pts) First solve this question using mysql connector, like in Questions 1-5. Do not use SQL Alchemy.

In [ ]:
# Write your solution here
#
#
#
#

(10 pts) Next, solve the same question using SQL Alchemy.

In [ ]:
# Write your solution here
#
#
#
#

## Question 10 (10 pts)

Solve this question using SQL Alchemy ONLY.

Using the `ORDER_COSTS` and `CUSTOMERS` tables, find the following: In which states do customers spend, on average, more than 164 on their orders? For each such state, retrieve its name (abbreviation) and average order cost in that state. Results should be ordered from lowest cost to highest.

In [ ]:
# Write your solution here
#
#
#
#

In [ ]:
session.close()

In [ ]:
db_cursor.close()
db_connection.close()